<%- include('includes/head', {pageTitle: 'Not authenticated!' }) %>
</head>
<body>
    <%-include('includes/header.ejs') %>
    <main>
        <h1>Not authenticated!</h1>
        <p>You are no authenticated!</p>
    </main>

<%- include('includes/footer.ejs') %>