<!-- <%- include('includes/head', {pageTitle: 'Error!' }) %>
</head>
<body>
    <%-include('includes/header.ejs') %>
    <main>
        <h1>Not authanticated!</h1>
        <p>You are not authenticated and therefore not allowed to access this page!</p>
    </main>

<%- include('includes/footer.ejs') %> -->