<%- include('includes/head', {pageTitle: 'Error!' }) %>
</head>
<body>
    <%-include('includes/header.ejs') %>
    <main>
        <h1>Not find ressource!</h1>
        <p>No ressource!</p>
    </main>

<%- include('includes/footer.ejs') %>